<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>


 <head>
        <meta charset="utf-8">
        <title> Lizzy The Magnificent </title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

 </head>
  <h1>Welcome to Lizzy the Magnificent's shop of the obscure, mystic and magical!</h1>
  <p>Thanks for using our site! Are you ready to dive in to a world unknown?</p>

  <div class="container">
   <div class="image-div"><img src="https://www.clipartkey.com/mpngs/m/302-3027240_evil-eye-magic-sticker-cool-evil-eye-graphic.png"></div>
  </div>

<%- include('./partials/footer.ejs') %>
